/* LOAD CUSTOM FONTS */
/* Atkinson Hyperlegible Normal */
@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: 	url('/public/assets/fonts/Atkinson-Hyperlegible-Regular-102.eot');
	src: 	url('/public/assets/fonts/Atkinson-Hyperlegible-Regular-102.eot') format('embedded-opentype'),
				url('/public/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
				url('/public/assets/fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff'),
				url('/public/assets/fonts/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: 	url('/public/assets/fonts/Atkinson-Hyperlegible-Italic-102.eot');
	src: 	url('/public/assets/fonts/Atkinson-Hyperlegible-Italic-102.eot') format('embedded-opentype'),
				url('/public/assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
				url('/public/assets/fonts/Atkinson-Hyperlegible-Italic-102.woff') format('woff'),
				url('/public/assets/fonts/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

/* Atkinson Hyperlegible Bold */
@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: 	url('/public/assets/fonts/Atkinson-Hyperlegible-Bold-102.eot');
	src: 	url('/public/assets/fonts/Atkinson-Hyperlegible-Bold-102.eot') format('embedded-opentype'),
				url('/public/assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
				url('/public/assets/fonts/Atkinson-Hyperlegible-Bold-102.woff') format('woff'),
				url('/public/assets/fonts/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: 	url('/public/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.eot');
	src: 	url('/public/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.eot') format('embedded-opentype'),
				url('/public/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
				url('/public/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff'),
				url('/public/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Sylexiad Sans';
	src: 	url('/public/assets/fonts/SylexiadSansSpacedMed.otf');
	src: 	url('/public/assets/fonts/SylexiadSansSpacedMed.otf') format('opentype'),
				url('/public/assets/fonts/SylexiadSansSpacedMed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Sylexiad Sans';
	src: 	url('/public/assets/fonts/SylexiadSansSpacedMed-Ita.otf');
	src: 	url('/public/assets/fonts/SylexiadSansSpacedMed-Ita.otf') format('opentype'),
				url('/public/assets/fonts/SylexiadSansSpacedMed-Ita.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Sylexiad Sans';
	src: 	url('/public/assets/fonts/SylexiadSansSpacedMed-Bold.otf');
	src: 	url('/public/assets/fonts/SylexiadSansSpacedMed-Bold.otf') format('opentype'),
				url('/public/assets/fonts/SylexiadSansSpacedMed-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Sylexiad Sans';
	src: 	url('/public/assets/fonts/SylexiadSansSpacedMed-Bita.otf');
	src: 	url('/public/assets/fonts/SylexiadSansSpacedMed-Bita.otf') format('opentype'),
				url('/public/assets/fonts/SylexiadSansSpacedMed-Bita.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

/* GENERAL STYLES */
* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	/* FONTS */
	--atkinson-sans: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
								helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;

	--serif: 'Times New Roman', Times, serif;
	--sylexiad: 'Sylexiad Sans';

	
	--reader-font: var(--atkinson-sans);
	--user-font-scale: 1rem - 16px;
	font-family: var(--reader-font);
	font-size: 1rem;
	font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);

	/* UTOPIA FLUID TYPE SCALE */
	/* @link  https://utopia.fyi/type/calculator*/
	--step--2: clamp(0.91rem, 0.89rem + 0.10vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.20rem);
  --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.50rem);
  --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);

	/* UTOPIA FLUID SPACING SCALE */
	/* @link https://utopia.fyi/space/calculator */
	--fluid-min-width: 320;
  --fluid-max-width: 1140;

  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));

	--fc-3xs-min: (var(--fc-s-min) * 0.25); 
  --fc-3xs-max: (var(--fc-s-max) * 0.25);

  --fc-2xs-min: (var(--fc-s-min) * 0.5); 
  --fc-2xs-max: (var(--fc-s-max) * 0.5);

  --fc-xs-min: (var(--fc-s-min) * 0.75); 
  --fc-xs-max: (var(--fc-s-max) * 0.75);

  --fc-s-min: (var(--f-0-min, 21)); 
  --fc-s-max: (var(--f-0-max, 24));

  --fc-m-min: (var(--fc-s-min) * 1.5); 
  --fc-m-max: (var(--fc-s-max) * 1.5);

  --fc-l-min: (var(--fc-s-min) * 2); 
  --fc-l-max: (var(--fc-s-max) * 2);

  --fc-xl-min: (var(--fc-s-min) * 3); 
  --fc-xl-max: (var(--fc-s-max) * 3);

  --fc-2xl-min: (var(--fc-s-min) * 4); 
  --fc-2xl-max: (var(--fc-s-max) * 4);

  --fc-3xl-min: (var(--fc-s-min) * 6); 
  --fc-3xl-max: (var(--fc-s-max) * 6);

  /* T-shirt sizes */
  --space-3xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
  --space-2xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-xs: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp));
  --space-s: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-m: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-l: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp));
  --space-xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
  --space-2xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
  --space-3xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp));
  
  /* One-up pairs */
  --space-3xs-2xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
  --space-2xs-xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-xs-s: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) * var(--fluid-bp));
  --space-s-m: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-m-l: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-l-xl: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) * var(--fluid-bp));
  --space-xl-2xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
  --space-2xl-3xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));

  /* Custom pairs */
  --space-s-l: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-s-min)) * var(--fluid-bp));

	/* DEFAULT SPACING VARIABLES */
	--space-document: var(--space-l-xl);
	--space-document-m: var(--space-m-l);
	--space-container: var(--space-s-m);
	--space-inner: var(--space-xs-s);

	/* COLORS */
	--light: #FBFAF8;
	--dark: #191923;
	--dark-muted: #252533;
	--light-muted: #e9e6e0;
	--background: var(--light);
	--foreground: var(--dark);
	--foreground-muted: var(--dark-muted);
	--background-muted: var(--light-muted);
	--link: #319ed8;
	--hover: #C42348;
}

.atkinson {
	font-family: var(--atkinson-sans);
}

.sylexiad {
	font-family: var(--sylexiad);
	letter-spacing: 0.05em;
}

.light {
	--background: var(--light);
	--foreground: var(--dark);
	--foreground-muted: var(--dark-muted);
	--background-muted: var(--light-muted);
	--link: #319ed8;
	--hover: #C42348;
}

.dark {
	--background: var(--dark);
	--foreground: var(--light);
	--foreground-muted: var(--light-muted);
	--background-muted: var(--dark-muted);
	--link: #C42348;
	--hover: #319ed8;
}

body {
	display: grid;
	grid-template-columns: auto 1fr 12vw;
	grid-template-areas: 
		"header 	header	header"
		"navbar 	main		menu"
		"footer 	footer	footer";
	gap: var(--space-document);
	background: var(--background);
	color: var(--foreground);
	line-height: 1.5;
	padding: var(--space-document);
}

header {
	display: flex;
	justify-content: space-between;
	grid-area: header;
	/* max-width: clamp(16rem, 90vw, 70rem); */
}


.navbar-title {
	font-size: var(--step-0);
}

aside {
	position: -webkit-sticky;
	position: sticky;
	top: var(--space-document);
}

#sidebar {
	grid-area: navbar;
	align-self: start;
}

#menu {
	grid-area: menu;
	align-self: start;
}

.toc {
	padding-inline: 1.5rem;
}

.toc ol li {
	font-size: var(--step--1);
}

details > summary {
	cursor: pointer;
	list-style-type: none;
}

.summary-indicator {
	transform-origin: 50% 50%;
	width: 1.25em;
	height: 1.25em;
	fill: currentColor;
}

details[open] summary .summary-indicator {
	transform: rotate(90deg);
}

.summary-inner {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

main {
	grid-area: main;
	align-self: start;
}

footer {
	grid-area: footer;
	border-top: 1px solid var(--foreground-muted);
	padding: var(--space-xs-s) 0;
	text-align: center;
}

/* READABILITY STYLES */
a:not([class]), .skip-link, .date-link, a:visited {
  color: currentColor;
	transition: color 0.2s ease-out;
}

:focus {
  outline: 1px dashed;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

[href]:hover {
  text-decoration: none;
	color: var(--hover);
}

h1,
h2,
h3,
h4 {
	line-height: 1.3;
}

h1, h2 {
	font-weight: bold;
}

h1 {
	font-size: var(--step-3);
}

h2 {
	font-size: var(--step-2);
}

h3 {
	font-size: var(--step-1);
}

a h1, a h2, .site {
	/* justify-self: flex-start;
	align-self: flex-start; */
	display: inline;
}

img {
	max-width: min(55rem, 100%);
}

figcaption {
	font-size: var(--step--1);
	font-style: italic;
	margin-top: var(--space-xs-s);
}

blockquote {
	padding-left: var(--space-s-m);
	border-left: 5px solid;
	font-style: italic;
	color: var(--foreground-muted);
}

::selection {
	color: var(--background);
	background: var(--foreground);
}

.flow > * + * {
	margin-top: var(--flow-space, 1em);
}

p,
li {
	max-width: 50ch;
}

h1 {
	max-width: 15ch;
}

h2, h3 {
	max-width: 25ch;
}

#site {
	display: inline-flex;
	gap: var(--space-3xs-2xs);
	align-items: flex-end;
	align-self: start;
	text-decoration: none;
	font-size: var(--step-1);
}

#site:hover > * {
	color: var(--hover);
}

#site h1 {
	margin: 0;
	padding: 0;
	line-height: 0.9;
	font-size: var(--step-1);
	letter-spacing: 0.125em;
	transition: color 0.2s ease-out;
}

.post {
	--flow-space: var(--space-container);
	margin-left: auto;
	margin-right: auto;
}

.post time {
	--flow-space: var(--space-3xs-2xs);
	display: block;
	color: var(--foreground-muted);
}

.post :is(h2, h3) {
	--flow-space: var(--space-document);
}

.post :is(h2, h3) + * {
	--flow-space: var(--space-2xs-xs);
}

.post figure,
.post figure + * {
	--flow-space: var(--space-container);
}

#navigation {
	padding: 0;
}

#navigation li {
	list-style: none;
}

.skip-link{
	position: absolute;
	left: 50%;
	top: 0.5rem;
	transform: translateY(-100%);
	padding: var(--space-2xs);
	transition: transform 0.2s ease-out;
}

.skip-link:focus {
	transform: translateY(0%);
}


.date-link {
	display: inline flex;
	gap: 0.5rem;
	align-items: center;
	color: currentColor;
}

.link-icon {
	fill: currentColor;
	height: 1em;
	width: auto;
	transition: fill 0.2s ease-out;
}

/* MEDIA QUERIES */

/* @media screen and (prefers-color-scheme: dark) {
	:root {
		--background: var(--dark);
		--foreground: var(--light);
		--foreground-muted: var(--light-muted);
		--background-muted: var(--dark-muted);
		--hover: #319ed8;
		--link: #C42348;
	}
} */

@media screen and (max-width: 1024px) {
	body {
		display: flex;
		flex-direction: column;
		gap: var(--space-document-m);
		padding: var(--space-document-m);
	}
	aside {
		position: relative;
		margin-bottom: var(--space-document);
	}
	footer {
		text-align: start;
	}
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

@media (min-width: 45em) {
	h1 {
		font-size: var(--step-3);
	}

	h2 {
		font-size: var(--step-2);
	}

	h3 {
		font-size: var(--step-1);
	}

	h4 {
		font-size: var(--step-0);
	}

	p, li {
		font-size: var(--step-0);
	}

	figcaption {
		font-size: var(--step--1);
	}

	blockquote p {
		font-size: var(--step-1);
		max-width: 40ch;
	}

	.post time {
		font-size: var(--step--1);
	}
}