---
	import DefaultLayout from '../layouts/DefaultLayout.astro';
	const allTutorials = Astro.fetchContent('../tutorials/*/*.md');
  console.log(allTutorials);
---

<DefaultLayout title="a11y.build" tutorials={allTutorials}>
	<h1>Yep</h1>
</DefaultLayout>