---
  import Logo from './Logo.astro';
  import TextToggle from './TextToggle.astro';
---

  <header>
  <a class="skip-link" href="#main">Skip to Content</a>
    <a href="/" id="site">
      <span class="site-text" aria-role="label">a11y.build</span>
      <Logo />
    </a>

    <TextToggle />
  </header>

  <style>
    .site-text {
      font-size: var(--step-2);
      line-height: 0.9;
      font-weight: 500;
    }
  </style>