---

---

  <button 
    type="button"
    id="menu-button"
    aria-expanded="false"
    aria-controls="content-nav"
    tabindex="-1"
  >
    <svg 
      xmlns="http://www.w3.org/2000/svg" 
      viewBox="0 0 24 24" 
      class="c"
      role="img"  
    >
    <title>Open Menu</title>
    <path 
      fill="none" 
      d="M0 0h24v24H0z"/>
    <path 
      d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"/>
    </svg>
  </button>

  <script>
    const sidebar = document.getElementById("sidebar");
    const menuButton = document.getElementById("menu-button");
    const contentNav = document.getElementById("content-nav");

    const show = function () {
      menuButton.setAttribute('aria-expanded', 'true');
      // sidebar.setAttribute('aria-hidden', 'false');
      sidebar.classList.add('show-menu');
    }

    const hide = function () {
      menuButton.setAttribute('aria-expanded', 'false');
      // sidebar.setAttribute('aria-hidden', 'true');
      sidebar.classList.remove('show-menu');
    }

    const handleClosure = function (event) {
      return (!contentNav.contains(event.target) || event.target === menuButton) && hide();
    }

    menuButton.addEventListener('click', function (event) {
      event.stopPropagation();
      JSON.parse(menuButton.getAttribute('aria-expanded')) ? hide() : show();
    });

    window.addEventListener('click', handleClosure);
    window.addEventListener('focusin', handleClosure);

    contentNav.addEventListener('focusin', (event) => {
      console.log()
      if(contentNav.classList.contains('show-menu')) return;
      show();
    })
  </script>

  <style>
    #menu-button {
      position: fixed;
      bottom: var(--space-m);
      right: var(--space-m);
      padding: var(--space-2xs);
      /* border-radius: 50%; */
      aspect-ratio: 1;
      background: var(--background);
      border: 1px solid var(--foreground-muted);
      z-index: 200;
      /* border: none; */
      color: var(--foreground-muted);
      font-size: var(--step-3);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-out;
    }
    #menu-button:hover, #menu-button:focus {
      background: var(--background);
    }
    #menu-button:active {
      background: var(--foreground);
      color: var(--background);
    }
    .c {
      fill: currentColor;
      width: 1em;
      height: auto;
    }

    @media screen and (min-width: 768px) {
      #menu-button {
        transform: translate3d(200px, 0, 0);
      }
    }
  </style>