---
  const { sections } = Astro.props;
  const { guides } = Astro.props;
---
  <aside id="sidebar">
    <ul id="navigation">
      {sections.map((section) => `
        <li>
          <a href="/#${section.slug}">${section.title}</a>
        </li>`
      )}
    </ul>
  </aside>