---
  const { tutorials } = Astro.props;
  const { guides } = Astro.props;
---
  <aside id="sidebar">
    <h3>Tutorials</h3>

    {tutorials.map((tutorial) => `<a href="${tutorial.url}">Hey</a>`)}
  </aside>