---

---

<fieldset class="text-toggle">
<legend>Font</legend>
  <button class="switch switch-atkinson">
    <span class="button-text">A<sub>t</sub></span>
    <span class="button-label">Default</span>
  </button>
  <button class="switch switch-sylexiad">
    <span class="button-text">S<sub>y</sub></span>
    <span class="button-label">Dyslexia</span>
  </button>
</fieldset>

<script>
  // This script interacts with the theme setting script
  // located in '/src/layouts/HeadLayout.astro'
  const atkinson = document.querySelector('.switch-atkinson');
  const sylexiad = document.querySelector('.switch-sylexiad');

  function setSelected(fontName) {
    if(fontName === 'atkinson') {
      sylexiad.setAttribute('aria-pressed', false);
      atkinson.setAttribute('aria-pressed', true);
    }

    if(fontName === 'sylexiad') {
      sylexiad.setAttribute('aria-pressed', true);
      atkinson.setAttribute('aria-pressed', false);
    }
  }

  atkinson.addEventListener('click', () => {
    switchFont('atkinson');
    setSelected('atkinson');
  });
  
  sylexiad.addEventListener('click', () => {
    switchFont('sylexiad');
    setSelected('sylexiad');
  });
</script>

<style>
  .text-toggle {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    border: none;
    padding: 0;
    background: transparent;
    border: 1px solid var(--foreground);
    padding: 0 var(--space-2xs-xs) 0.5rem var(--space-2xs-xs);
  }

  .switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-size: 2rem;
    /* width: 4rem; */
    letter-spacing: 0.125em;
    background: transparent;
    border: none;
    color: var(--foreground);
    cursor: pointer;
    padding: 0.25rem 0.5rem;
  }
  .switch:hover {
    color: var(--hover);
  }
  .switch[aria-pressed='true'] {
    background: var(--background-muted);
  }

  .button-text {
    line-height: 0.9;
  }

  .button-label {
    font-size: 0.75rem;
  }
</style>
