---

---



<fieldset class="text-toggle">
<legend>Font</legend>
  <button class="switch switch-atkinson">
    A<sub>t</sub>
  </button>
  <button class="switch switch-sylexiad">
    S<sub>y</sub>
  </button>
</fieldset>

<script>
  // const doc = document.documentElement;
  const atkinson = document.querySelector('.switch-atkinson');
  const sylexiad = document.querySelector('.switch-sylexiad');

  atkinson.addEventListener('click', () => switchFont('atkinson'));
  sylexiad.addEventListener('click', () => switchFont('sylexiad'));

  function switchFont(fontName) {
    localStorage.setItem('documentFont', fontName);
    if(fontName === 'atkinson') {
      document.body.classList.remove('sylexiad');
      document.body.classList.add('atkinson');
      // document.body.style.fontFamily = 'Atkinson Hyperlegible';
    }else {
      document.body.classList.remove('atkinson');
      document.body.classList.add('sylexiad');
      // document.body.style.fontFamily = 'Sylexiad';
    }
    setSelected(fontName);
  }

  function setSelected(fontName) {
    if(fontName === 'atkinson') {
      sylexiad.setAttribute('aria-pressed', false);
      atkinson.setAttribute('aria-pressed', true);
    }

    if(fontName === 'sylexiad') {
      sylexiad.setAttribute('aria-pressed', true);
      atkinson.setAttribute('aria-pressed', false);
    }
  }

  (function() {
    const currentFont = localStorage.getItem('documentFont')
    if(currentFont) {
      switchFont(currentFont);
    }
  }())
</script>

<style>
  .text-toggle {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    border: none;
    padding: 0;
    background: transparent;
    border: 1px solid var(--foreground);
    padding: 0 var(--space-2xs-xs) 0.5rem var(--space-2xs-xs);
  }

  .switch {
    font-size: var(--step-1);
    letter-spacing: 0.125em;
    background: transparent;
    border: none;
    color: var(--foreground);
    cursor: pointer;
    padding: 0.25rem 0.5rem;
  }
  .switch:hover {
    color: var(--hover);
  }
  .switch[aria-pressed='true'] {
    background: var(--background-muted);
  }
</style>
