---
import DefaultLayout from '../../layouts/DefaultLayout.astro';

const tutorials = Astro.fetchContent('./*/*.md');

---

<DefaultLayout title="a11y.build | Tutorials">

<h1>Tutorials</h1>

</DefaultLayout>
