---
  import HeadLayout from './HeadLayout.astro';
  import Header from '../components/Header.astro';
  import Sidebar from '../components/Sidebar.astro';

  const { title, sections } = Astro.props;

---

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <HeadLayout title={title}>
  </HeadLayout>

</head>

<body>
  <Header />
  <Sidebar sections={sections} />

  <main class="flow" id="main">
    <slot />
  </main>

  <footer>
    <p>&copy; {new Date().getFullYear()} <a href="https://a11y.build">a11y.build</a></p>
  </footer>
</body>
</html>