---
  import HeadLayout from './HeadLayout.astro';
  import Header from '../components/Header.astro';
  import Sidebar from '../components/Sidebar.astro';

  const { title, tutorials } = Astro.props;

---

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <HeadLayout title={title}>
  </HeadLayout>

</head>

<body>
  <Header />
  <Sidebar tutorials={tutorials} />

  <main>
    <slot />
  </main>
</body>
</html>