---
  import HeadLayout from './HeadLayout.astro';
  import Header from '../components/Header.astro';
  import Footer from '../components/Footer.astro';
  import ThemeScript from '../components/ThemeScript.astro';
  
  const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">

  <HeadLayout title={title}>
  </HeadLayout>

</head>

<body>
  <Header />
  <div class="page">
    <main class="flow across" id="main">
      <slot />
    </main>
  </div>

  <Footer />
</body>
<ThemeScript client:load/>
</html>