---
  import DefaultLayout from './DefaultLayout.astro';
  const sections = Astro.fetchContent('../pages/sections/*/*.md');
  const { content } = Astro.props;
---
<DefaultLayout title={content.title} sections={sections}>
<section class="post flow">
    <h2 class="section-heading">{content.title}</h2>
		<time>
		Last updated: 
				{new Date(content.date)
          .toLocaleString(
            'en-us', 
            {
              weekday: 'long', 
              year: 'numeric', 
              month: 'long', 
              day: 'numeric'
            }
          )
				}
		</time>
    <slot />
</section>
</DefaultLayout>