---
  import Navbar from '../components/Navbar.astro';

  const { menus, titles } = Astro.props;

  const sidebarItems = menus.map((menu) => ({title: titles[menus.indexOf(menu)], menu: menu}));

  console.log(JSON.stringify(menus));
---

  <aside id="sidebar">
    {sidebarItems.map((item) => {
      return `
        <details open>
          <summary>
          <span class="summary-inner">
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              viewBox="0 0 24 24" 
              class="summary-indicator"
            >
              <path 
                fill="none" 
                d="M0 0h24v24H0z"
              />
              <path 
                d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"
              />
            </svg>
            <span class="navbar-title">${item.title}</span>
          </span>
          </summary>
          <nav class="toc">
            <ol class="toc-menu" id="navigation">
              ${item.menu.map((menu) => {
                return `<li>${menu.title}</li>`;
                })}
            </ol>
          </nav>
        </details>
      `;
    })}
  </aside>